.login-container {
    background: url(/images/camera.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  
  .login-container .login-form {
    width: 50%;
    height: 420px;
    margin: auto;
    background: initial;
    padding: 20px;
    border-radius: 7px;
    color: white;
    box-shadow: 0 0 15px #ffffff;
  }
  #form-login{
    margin-top: 50px;
  }
  #form-login h2{
      text-align: center;
  }
  .link{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
  }
  .fa{
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;

  }
  .fa a i {
      font-size: 20px;
  }
  .gg{
    border: 2px solid #fff;
    padding: 7px;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 17px;
  }
  .login-form .title{
      text-align: center;
      font-size:38px;
      color: #757575;
      font-family: sans-serif;
      padding-top: 20px;
      margin-bottom: 20px;
  }
  
  .login-form .input-wrapper{
      margin-bottom: 10px;
  }
  
  .login-form .submit-wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      align-items: center;
  }
  
  
  
  