.header{
    display: flex;
    justify-content: space-between;
}
.logout{
    display: flex;
    align-items: center;
}
.d-flex{
    width: 50%;
}
.web-films{
    background: black;
    color: #fff;
}
.content-detail{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.content-detail .noidung{
    display: flex;
    padding: 10px;
}
.content-film{
    display: flex;
    flex-direction: column;
}
.content-film h1{
    margin: 0;
}
.mt-2, .my-2 {
    margin-top: .5rem!important;
    margin-left: 429px;
}
.carousel-inner {
    position: relative;
    width: 85%;
    overflow: hidden;
    margin: auto;
}
.form-control input{
    display: block;
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}